
.export-btn{
    background-color: green;
    color : white;
    padding : 0.5rem 0.2rem 0.5rem 0.2rem;
}

.export-btn:active{
    background-color: lightgreen;
}

.spreadSheetContainer{
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 30px);
    text-align: center;
}