
.export-btn{
    background-color: green;
    color : white;
    padding : 0.5rem 0.2rem 0.5rem 0.2rem;
}

.export-btn:active{
    background-color: lightgreen;
}

.spreadSheetContainer{
    text-align: center;
}


.cell{
    width: 80px;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    text-align : center;
}

.cell.header{
    display : flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.cell-row{
    display : flex;
}